---
import { InstaxForm } from '../../components/InstaxForm'
import Shell from '../../layouts/Shell.astro'
---

<Shell
  title="Request for Instax"
  description="Get your instax printed and delivered">
  <div class="container">
    <div class="mt-8 grid grid-cols-1 md:grid-cols-4 lg:grid-cols-3">
      <div
        class="col-span-1 md:col-span-2 md:col-start-2 lg:col-span-1 lg:col-start-2">
        <header class="mb-4 flex gap-2">
          <div class="size-10 rounded-full bg-yellow-500"></div>
          <div class="flex-1">
            <h1 class="font-medium leading-none">
              Print your memories
            </h1>
            <p class="text-secondary mt-0 text-sm">They last forever.</p>
          </div>
        </header>

        <div class="flex items-center gap-2" id="form-loader">
          <div class="i-svg-spinners-180-ring-with-bg"></div> Hold on a sec…
        </div>

        <InstaxForm client:only="react" />
      </div>
    </div>
  </div>
</Shell>
