---
import Shell from '../../layouts/Shell.astro'
---

<Shell title="Request Sent" description="Instax request sent">
  <div class="container mt-8 min-h-[60vh]">
    <h1>Congratulations</h1>
    <p>
      Your instax request has been placed. You'll be called shortly to confirm
      order.
    </p>

    <p>
      If you don't hear from me sooner, please call me (De-Great)
      <a href="tel:0247812093">0247812093</a>.
    </p>
  </div>
</Shell>
