---
import { getCollection } from 'astro:content'
import shortenDate from '../../lib/shorten-date'
import ContentList from '../../components/ContentList.astro'
import Shell from '../../layouts/Shell.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
)

const postsList = posts.map((post) => ({
  link: `/blog/${post.slug}`,
  meta: shortenDate(post.data.pubDate!),
  title: post.data.title,
  tags: post.data.tags,
}))
---

<Shell title="Blog" description="My own words, shaped by my experience.">
  <main class="container mx-auto mt-[8rem] min-h-[60vh]">
    <div class="font-bold">{posts.length} posts published</div>

    <p class="text-secondary max-w-[480px]">
      These are my own words. Shaped by my own experiences. If you find
      something confusing, wrong or misleading, please let me know. If you find
      anything helpful, please consider sharing to your friends.
    </p>

    <section class="mt-[5rem]">
      <ContentList items={postsList} />
    </section>
  </main>
</Shell>
