@import url("/bootstrap-utilities.min.css");
@import url("/bootstrap-grid.min.css");

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-regular.woff2");
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-bold.woff2");
	font-weight: 700;
}

:root {
	color-scheme: light dark;
	font-family: "Zed Mono", monospace;
	font-size: 14px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

a {
	color: canvastext;
	transition: background 240ms ease-out;
}

a:hover {
	background-color: var(--bs-gray-200);
}

@media(prefers-color-scheme: dark) {
	a:hover {
		background-color: var(--bs-gray-900);
	}
}

.list-unstyled {
	padding: 0;
	list-style: none;
}

.mt-8 {
	margin-top: 8rem;
}

.page-half {
	max-width: 480px;
}