@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-regular.woff2");
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-medium.woff2");
	font-weight: 500;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-italic.woff2");
	font-style: italic;
}

.text-secondary {
	@apply text-zinc-600 dark:text-neutral-400;
}

:root {
	@apply text-zinc-800 dark:text-stone-50 bg-zinc-100 dark:bg-neutral-900;

	color-scheme: light dark;
	font-family: "Zed Mono", monospace;
	font-size: 15px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}


a {
	@apply hover:bg-zinc-200 dark:hover:bg-neutral-800 underline break-words;
}

p + *, * + p {
	@apply mt-[1rem];
}

.container {
	@apply max-w-[960px];
}

.page-half {
	max-width: 480px;
}

img, video {
	max-width: 100%;
}

.footnotes {
	border-top: 1px solid var(--bs-gray-200);
	margin-top: 4rem;
}

@media (prefers-color-scheme: dark) {
	.footnotes {
		border-top: 1px solid var(--bs-gray-800);
	}
}

.footnotes h2 {
	display: none;
}

code {
	font-family: 'Zed Mono', monospace;
	@apply text-green-700 dark:text-orange-400;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	@apply font-bold;
}

article h1 {
	@apply text-3xl;
}

article h2 {
	@apply text-xl;
}

article h3, h4 {
	@apply text-lg;
}

article h5, h6 {
	@apply text-base;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
	@apply mt-8;
}

article blockquote {
	color: var(--bs-secondary)
}

article table {
	width: 100%;
}

article th, article td {
	text-align: start;
}

@media screen and (min-width: 768px) {
	article > section:not(.footnotes) {
		columns: 2;
		column-rule-width: thin;
		column-rule-style: solid;
		column-rule-color: var(--bs-gray-400);
		column-gap: 3rem;
	}

	@media (prefers-color-scheme: dark) {
		article > section:not(.footnotes) {
			column-rule-color: var(--bs-gray-700);
		}
	}
}


.astro-code {
  counter-reset: step;
  counter-increment: step 0;
	padding: 1rem;
	border-radius: 0.5rem;
}

.astro-code .line {
	line-height: 1.6rem;
}

.astro-code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

.scheme-img > :nth-child(2) {
	display: none;
}

@media (prefers-color-scheme: dark) {
	.scheme-img > :first-child {
		display: none;
	}

	.scheme-img > :nth-child(2) {
		display: block;
	}
}
