---
import LicenseUpgrade from '../../components/dotlocal/LicenseUpgrade.astro'
import Shell from '../../layouts/dotlocal/Shell.astro'
---

<Shell
  title="DotLocal - Easily create .local domains for your web projects"
  description="Easily create .local domains for your web projects">
  <section>
    <div class="container py-12">
      <div class="mb-8 text-center">
        <span
          class="text-secondary inline-flex items-center gap-1 rounded-full border border-slate-300 px-4 py-1 text-sm">
          <span class="me-2 inline-block h-3 w-3 rounded-full bg-red-400">
          </span> Not a <code class="text-slate-700">/etc/hosts</code> editor!
        </span>
      </div>
      <h1
        class="mx-auto max-w-xl text-center text-4xl font-bold text-slate-700">
        Mirror your production <span class="text-blue-500">domains</span> on your
        <span class="text-slate-400">.local</span> machine
      </h1>

      <p
        class="mx-auto my-6 max-w-xl text-center text-xl font-light text-slate-500">
        Comes with automatic HTTPS redirect and certificates. Supports <a
          class="cursor-help underline decoration-dotted"
          href="#path-proxies">
          proxies on paths.
        </a>
      </p>

      <div class="flex justify-center">
        <div
          class="inline-flex gap-4 rounded-md bg-slate-600 p-3 py-2 font-mono text-sm text-slate-100">
          <div class="flex-1">
            <div>
              <span class="select-none text-slate-400">$</span>{' '}
              <span class="text-pink-300">brew</span>{' '}
              <span class="text-slate-300">install</span>
              blackmann/brew/dotlocal
            </div>

            <div>
              <span class="select-none text-slate-400">$</span>{' '}
              <span class="text-pink-300">dotlocalctl</span>{' '}
              <span class="text-slate-300">configure</span>
            </div>
          </div>
          <div>
            <button
              class="i-lucide-copy text-slate-400 hover:text-slate-300"
              id="copy-command">
            </button>
          </div>
        </div>
      </div>

      <div class="text-center">
        <img
          src="/dotlocal-screenshot.png"
          alt="DotLocal"
          class="inline"
          width="536"
        />
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="container py-[5rem]">
      <div class="mb-4 text-center">
        <span
          class="inline-flex items-center gap-1 rounded-full border border-slate-300 px-4 py-1 text-sm font-medium text-green-800">
          <span class="me-2 inline-block h-3 w-3 rounded-full bg-green-400">
          </span> Watch a quick demo.
        </span>
      </div>
      <h2 class="mb-8 text-center text-3xl font-bold">
        Reasons you'll want a <span class="text-blue-500">
          <span class="text-slate-400" id="examples"></span>.local
        </span>
      </h2>

      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
        <div class="col-span-1">
          <div class="rounded-lg bg-slate-50">
            <img
              src="/local-secure.png"
              alt="HTTPS experience"
              class="w-full"
            />

            <div class="p-4">
              <h3 class="mb-2 text-lg font-bold tracking-wide">
                Want HTTPS experience
              </h3>

              <p class="text-secondary">
                Some web features only work on HTTPS. This is your chance!
              </p>
            </div>
          </div>
        </div>

        <div class="col-span-1">
          <div class="rounded-lg bg-slate-50">
            <img
              src="/localstorage-clear.png"
              alt="Wiping localStorage"
              class="w-full"
            />
            <div class="p-4">
              <h3 class="mb-2 text-lg font-bold tracking-wide">
                Tired of wiping localStorage or cookies
              </h3>
              <p class="text-secondary">
                Values in <code>localStorage</code> from another project usually
                interferes with the current working project.
              </p>
            </div>
          </div>
        </div>

        <div class="col-span-1">
          <div class="rounded-lg bg-slate-50">
            <img src="/subdomains.png" alt="Subdomains" class="w-full" />
            <div class="p-4">
              <h3 class="mb-2 text-lg font-bold tracking-wide">
                Your app uses subdomains to resolve tenants.
              </h3>
              <p class="text-secondary">
                With <code>dotlocal</code> you don't need to hard-code subdomain
                values on configs in development.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-slate-50">
    <LicenseUpgrade />
  </section>

  <section class="bg-slate-50">
    <div class="container border-t border-slate-200 py-[4rem]">
      <h2 class="mb-2 text-2xl font-bold" id="faq">
        Frequently Asked Questions
      </h2>

      <ul>
        <li class="mb-4">
          <header class="font-medium">
            The app is installed! Where do I find it?
          </header>

          <p class="text-secondary">
            Open the app from the Launchpad. You'll see a globe icon in the
            Menubar. Click on it and choose Preferences to access the
            configurations.
          </p>
        </li>

        <li>
          <header class="font-medium">
            What if I have more than one app that can run on the same port?
          </header>

          <p class="text-secondary">
            You can add multiple proxy entries for different apps that point to
            the same port. Note that the operating system will only allow you to
            run one app on a port at a time.
          </p>
        </li>
      </ul>
    </div>
  </section>
</Shell>

<script>
  // @ts-ignore
  import Typewriter from 'typewriter-effect/dist/core'

  new Typewriter('#examples', {
    strings: ['myapp', 'admin.myapp', 'adeton', 'mangobase', 'api.adeton'],
    autoStart: true,
    loop: true,
  })

  const copyBtn = document.querySelector('#copy-command') as HTMLButtonElement
  copyBtn?.addEventListener('click', () => {
    navigator.clipboard.writeText(
      `brew install blackmann/brew/dotlocal\ndotlocalctl configure`,
    )
  })
</script>
