---
import DnsLocalShell from "../../layouts/DnsLocalShell.astro";

---

<DnsLocalShell title="Home" description="Easily create .local domains for your web projects">
  <section class="bg-slate-100 min-h-screen">
    <div class="container py-12">
      <h1 class="text-center font-bold text-4xl text-slate-700 max-w-xl mx-auto">Mirror your production <span class="text-blue-500">domains</span> on your <span class="text-slate-400">.local</span> machine</h1>

      <p class="max-w-xl text-slate-500 text-xl mx-auto text-center my-6 font-light">Comes with automatic HTTPS redirect and certificates. Supports <a class="underline decoration-dotted cursor-help" href="#path-proxies">proxies on paths.</a></p>

      <div class="text-center">
        <span class="bg-slate-600 inline-block font-mono text-slate-100 rounded-md p-3 py-2"><span class="text-pink-300">brew</span>{' '} <span class="text-slate-300">install</span> dotlocal</span>
      </div>
    </div>
  </section>
</DnsLocalShell>
