---
import BaseHead from '../components/BaseHead.astro'
import { Happy26 } from '../components/Happy26'
---

<!doctype html>
<html transition:animate="none" lang="en">
  <head>
    <BaseHead
      image=""
      title="Happy Birthday, Sugar Mummy"
      description="It's a fcvking celebration!"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="overflow-x: hidden;">
    <Happy26 client:load />
  </body>
</html>
