---
import Shell from '../layouts/Shell.astro'
---

<Shell title="Todo List" description="A simple todo list app.">
  <main class="container mx-auto mt-[8rem]">
    <h1 class="mb-[2rem] text-2xl font-bold">Todo List</h1>
    <p>For small rapid teams, Todo List is enough to get you going.</p>
  </main>
</Shell>
