---
import MiniComp from '../../components/MiniComp.astro'
import Shell from '../../layouts/Shell.astro'
---

<Shell
  title="Missions"
  description="Your mission, should you choose to accept it, is to complete as many projects as you can to get good. These missions are fairly challenging and yes, you've never seen any these before.">
  <div class="min-h-60vh mt-8rem container font-mono">
    <h1 class="font-mono text-5xl">Missions 💽</h1>

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-8">
      <div class="col-span-1 lg:col-span-3">
        <p class="text-secondary">
          Your mission, should you choose to accept it, is to complete as many
          projects as you can to get good. These missions are fairly challenging
          and yes, you've never seen any these before.
        </p>

        <p class="text-secondary">
          Some missions may end up being beneficial to you — they become
          apps/utils you may use regularly yourself. Others will teach you the
          tech and how to reason about the solutions.
        </p>

        <p class="text-secondary">
          For each mission, you'll be given a headstart — what tech to use, what
          documentations to read and how to plan. But most of it, you may need
          to figure out yourself.
        </p>

        <ul class="mt-4rem">
          <li>
            <div class="flex items-start">
              <div
                class="flex items-center gap-2 rounded-lg bg-zinc-200 px-2 dark:bg-neutral-800">
                <div class="i-lucide-battery-medium text-secondary"></div>
                Coming soon…
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-span-1 lg:col-span-2 max-lg:order-first">
        <MiniComp />
      </div>
    </div>
  </div>
</Shell>
