---
interface ContentItem {
  title: string
  meta?: string
  link: string
}

interface Props {
  items: ContentItem[]
}

const { items } = Astro.props
---

<ul>
  {
    items.map((item) => (
      <li class="[&+&]:border-t-1 [&+&]:border-t border-t-zinc-200 dark:border-t-neutral-600">
        <a class="flex justify-between py-2 px-2 no-underline" href={item.link}>
          <span class="flex-1">{item.title}</span>
          <span class="text-end text-secondary">{item.meta}</span>
        </a>
      </li>
    ))
  }
</ul>
