<a
  href="https://degreat.co.uk/dotlocal"
  target="_blank"
  class="block rounded-lg border border-zinc-500 bg-zinc-800 leading-tight no-underline hover:bg-zinc-700 dark:border-neutral-500 dark:bg-neutral-800 dark:hover:bg-neutral-800">
  <img alt="DotLocal" src="/local-secure.png" />

  <div class="p-2 text-white">
    Create .local domains for your web projects. <div
      class="i-lucide-external-link inline-block">
    </div>
  </div>
</a>
