---
import NavLink from './NavLink.astro';
---

<header class="bg-slate-100">
	<div class="container mx-auto flex justify-between py-4">
		<h2 class="mb-[2rem]">
			<img src="/dotlocal-logo-small.png" alt="DotLocal" class="h-[48px]">
		</h2>

		<nav>
			<NavLink href="/">License</NavLink>
			<NavLink href="https://twitter.com/_yogr" target="_blank">Twitter</NavLink>
			<NavLink href="https://github.com/blackmann" target="_blank">Feedback</NavLink>
		</nav>
	</div>
</header>
