---
const today = new Date()
---

<footer class="text-secondary container mt-8 pt-5">
	<div class="mb-2">
		<span class="text-secondary">Other links:</span>
		<a class="me-1" href="/cool-stuff">Cool stuff</a>
		<a href="/candies">Candies 🍬</a>
		<a href="/jpegs">JPEGs</a>
	</div>

	<div>&copy; {today.getFullYear()} De-Great Yartey. All rights reserved.</div>

	<div>version 2023.06.20/1</div>
</footer>
<style>
	footer {
		padding: 25px;
		color: graytext;
		border-top: 1px solid var(--bs-gray-300);
	}

	@media (prefers-color-scheme: dark) {
		footer {
			border-top: 1px solid var(--bs-gray-800);
		}
	}
</style>
