<div class="bg-zinc-200 dark:bg-neutral-800" id="hover-circle-canvas">
</div>
<div class="mt-2 flex justify-center gap-2">
  <label
    class="rounded-md bg-zinc-200 px-2 py-1 font-medium dark:bg-neutral-600"
  >
    <input name="fill-type" value="gradual" type="radio" checked />
     Gradual fill</label
  >
  <label
    class="rounded-md bg-zinc-200 px-2 py-1 font-medium checked:bg-zinc-300 dark:bg-neutral-600"
  >
    <input name="fill-type" value="almost" type="radio" />
     Almost fully</label
  >
</div>

<script src="./gsap-button-hover-circle.js"></script>
