---
import NavLink from './NavLink.astro';
---

<header class="container">
	<h2 class="mb-5">
		<img src="/okgr.svg" alt="okgr" height="18">
	</h2>
	<nav>
		<NavLink href="/">Home</NavLink>
		<NavLink href="/projects">Projects</NavLink>
		<NavLink href="/blog">Blog</NavLink>
		<NavLink href="/about">About</NavLink>
		<NavLink href="https://twitter.com/_yogr" target="_blank">Twitter</NavLink>
		<NavLink href="https://github.com/blackmann" target="_blank">GitHub</NavLink>
	</nav>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
