---
import HeaderLink from './HeaderLink.astro';
---

<header class="container">
	<h2 class="mb-5">
		<img src="/okgr.svg" alt="okgr" height="18">
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/_yogr" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/blackmann" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
