---
import NavLink from './NavLink.astro'
---

<header class="container mx-auto">
  <h2 class="mb-[2rem] py-3">
    <img src="/okgr.svg" alt="okgr" class="h-[18px]" height="18" width="60.42" />
  </h2>

  <nav class="hover-link flex items-center gap-2">
    <NavLink href="/">Home</NavLink>

    <NavLink href="/projects">Projects</NavLink>

    <NavLink href="/blog">Blog</NavLink>

    <NavLink class="relative" href="/courses">
      Courses <div class="absolute -top-2 right-0">
        <small class="inline-block size-2 rounded-md bg-pink-500 text-white">
        </small>
      </div>
    </NavLink>

    <NavLink href="/about">About</NavLink>

    <NavLink href="https://twitter.com/_yogr" target="_blank">
      <span class="i-lucide-twitter" title="Twitter"></span>
    </NavLink>

    <NavLink href="https://github.com/blackmann" target="_blank">
      <span class="i-lucide-github" title="Github"></span>
    </NavLink>
  </nav>
</header>
