---
import NavLink from './NavLink.astro'
---

<header class="container mx-auto">
  <h2 class="mb-[2rem] py-3">
    <img src="/okgr.svg" alt="okgr" class="h-[18px]" />
  </h2>

  <nav>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/projects">Projects</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/about">About</NavLink>
    <NavLink href="https://twitter.com/_yogr" target="_blank">Twitter</NavLink>
    <NavLink href="https://github.com/blackmann" target="_blank">
      GitHub
    </NavLink>
  </nav>
</header>
