---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, '') ||
  (href !== '/' && pathname.startsWith(href))
---

<a
  href={href}
  class="group inline-flex items-center gap-2 rounded-lg border border-transparent px-1 py-0.5 font-medium no-underline"
  class:list={[
    className,
    {
      'is-active border-zinc-300 bg-zinc-200 underline dark:border-neutral-600 dark:bg-neutral-700':
        isActive,
    },
  ]}
  {...props}>
  <slot />
</a>
