---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, '') ||
  (href !== '/' && pathname.startsWith(href))
---

<a
  href={href}
  class="inline-flex rounded-lg px-1 py-0.5 font-medium no-underline"
  class:list={[
    className,
    { 'bg-zinc-200 underline dark:bg-neutral-800': isActive },
  ]}
  {...props}>
  <slot />
</a>
