---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '') || (href !== '/' && pathname.startsWith(href));
---

<a href={href} class="inline-flex me-2 no-underline px-1 py-0.5 rounded-lg" class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a.active {
		@apply underline font-bold;
	}
</style>
