---
import IconifyLink from './IconifyLink.astro'

interface Project {
  title: string
  description: string
  meta?: string
  url: string
  tags?: string[]
}

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div
  class="hover:(bg-zinc-50 dark:bg-neutral-800) flex gap-2 rounded-lg px-2 py-1 transition-[background] duration-200 group">
  <div class="flex-1">
    <h2 class="flex gap-4 font-medium">
      {project.title}

      <ul class="mt-1 flex gap-2 text-sm">
        <li><IconifyLink href={`https://${project.url}`} /></li>
      </ul>
    </h2>

    <p class="text-secondary mt-0 text-sm">{project.description}</p>
  </div>
</div>
