<div
  class="mx-auto flex overflow-hidden rounded-lg border bg-zinc-50 md:w-[20rem] md:flex-col lg:w-[16rem] dark:border-neutral-700 dark:bg-neutral-800">
  <div
    class="border-b bg-zinc-200 max-md:aspect-[3/2] max-md:flex-1 dark:border-b-neutral-700 dark:bg-neutral-800">
    <picture class="flex h-full w-full object-cover">
      <source srcset="/rl.jpg" media="(prefers-color-scheme: light)" />
      <source srcset="/rd.jpg" media="(prefers-color-scheme: dark)" />
      <img alt="Screenshot" src="/rd.jpg" />
    </picture>
  </div>

  <div class="flex flex-col p-2 max-md:flex-1 max-md:justify-center">
    <header class="text-center font-serif text-xl font-medium">
      Roadman <span class="text-amber-5">(β)</span>
    </header>
    <p class="text-secondary mt-0 text-center text-sm">
      Prepare and monitor an aerial view of your projects. This tool allows to
      visualize your project steps and track how far you've gone on an infinite
      canvas.
    </p>

    <div class="text-secondary mt-2 text-center text-xs">
      Check it out from here: {' '}
      <a
        href="https://roadman.degreat.co.uk/"
        target="_blank"
        rel="noreferrer"
        class="text-pink-5 underline">
        roadman.degreat
      </a>
    </div>
  </div>
</div>
