---
import type { MarkdownHeading } from 'astro'
interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<aside class="order-2 col-span-2">
  <h2 class="font-medium mb-2">
    <span class="material-symbols-rounded !text-sm">featured_play_list</span>
     Topics
  </h2>
  <ul>
    {
      headings.length > 1 &&
        headings.map((heading) => (
          <li>
            <a
              class:list={[
                'no-underline text-secondary hover:text-inherit',
                {
                  'ms-2': heading.depth > 2,
                  'ms-4': heading.depth > 3,
                },
              ]}
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</aside>
