<div class="flex h-full gap-2 px-2 py-4">
  <div>
    <img
      src="https://yt3.googleusercontent.com/F9evdwQ00CoPGyNr5gi6Bs-tpTsc7KoVj46U7OZw4o4csG5eNrLvEVqdoOrfD9-vFm-xt44VCFE=s176-c-k-c0x00ffffff-no-rj"
      alt=""
      class="w-12 rounded-full"
    />
  </div>

  <div class="flex-1">
    <header class="font-bold">
      Not Gr

      <span class="text-secondary">{'{'}</span>
      <span class="text-orange-500">/</span>
      <span class="text-green-500">/</span>
      <span class="text-blue-500">/</span>
      <span class="text-secondary">{'}'}</span>
    </header>
    <div class="text-secondary text-sm">
      @notgr &bull; 183 subscribers &bull; 14 videos
    </div>

    <div class="mt-2 font-medium">Art. Code. Learning. Sharing.</div>
  </div>
</div>
