@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', 'Roboto', sans-serif;
}

.bold {
  font-weight: 700;
}

.reveal-color {
  filter: grayscale();
  cursor: pointer;
  transition: filter 300ms;
}

.reveal-color:hover {
  filter: none
}

.border-md-left {
  border: none;
}

.cancel {
  text-decoration: line-through;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .border-md-left {
    border-left: 1px solid #dee2e6!important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }