---
import CoolLinks from "../../components/CoolLinks.astro";
import Shell from "../../layouts/Shell.astro";

---


<Shell title="Cool Apps" description="Apps you will love">
  <main class="container mt-8">
    <h1>Cool apps 📱</h1>
    <CoolLinks />
  </main>
</Shell>
