---
import Shell from '../../layouts/Shell.astro'
import CoolLinks from '../../components/CoolLinks.astro'

---

<Shell title="Cool stuff" description="">
  <main class="container mt-8">
    <h1>Cool stuff 🛹</h1>

    <div class="page-half text-secondary">
      This is a personal curation of cool stuff I think others might be
      interested in. Click one of the following links to check them out.
    </div>
    <div class="row">
      <div class="col-md-3">
        <CoolLinks />
      </div>
    </div>
  </main>
</Shell>
