---
import Shell from '../../layouts/Shell.astro'
import CoolLinks from '../../components/CoolLinks.astro'
---

<Shell title="Cool stuff" description="">
  <main class="container mt-[8rem]">
    <h1 class="font-bold text-2xl">Cool stuff 🛹</h1>

    <p class="page-half text-secondary">
      This is a personal curation of cool stuff I think others might be
      interested in. Click one of the following links to check them out.
    </p>

    <div>
      <CoolLinks />
    </div>
  </main>
</Shell>
