---
import CoolLinks from '../../components/CoolLinks.astro'
import Shell from '../../layouts/Shell.astro'
---

<Shell
  title="Cool stuff"
  description="Here's an index of cool stuff I've found over the years that I kinda frequently talk about">
  <main class="container mt-[8rem]">
    <h1 class="text-2xl font-bold">Cool stuff 🛹</h1>

    <p class="page-half text-secondary">
      This is a personal curation of cool stuff I think others might be
      interested in. Click one of the following links to check them out.
    </p>

    <div>
      <CoolLinks />
    </div>
  </main>
</Shell>
