---
import CoolLinks from '../../components/CoolLinks.astro'
import Shell from '../../layouts/Shell.astro'
import Link from '../../components/Link.astro'

// TODO: Include stars [from API]

const repositories = [
  {
    title: 'yjs',
    description: 'A library to help build collaborative software.',
    link: 'github.com/yjs/yjs',
  },
  {
    title: 'charmbracelet/*',
    description:
      'This organization has the coolest set of tools to build Terminal apps.',
    link: 'charm.sh',
  },
  {
    title: 'oframe/ogl',
    description:
      "A new webgl library. Very minimal yet as as powerful. It's still work-in-progress.",
    link: 'github.com/ograme/ogl',
  },
  {
    title: 'ssloy/tinyrenderer',
    description:
      'This repository introduces you on how to build a 3d renderer. I recommend it if you want to understand how 3d apps work at a lower level.',
    link: 'github.com/ssloy/tinyrenderer',
  },
  {
    title: 'pocketbase',
    description:
      'Self-hosted Firebase alternative. Truly self-hosted, not those tricky COSS types. Written in Go.',
    link: 'github.com/pocketbase/pocketbase',
  },
  {
    title: 'liabru/matter-js',
    description: '2d physics engine',
    link: 'github.com/liabru/matter-js',
  },
  {
    title: 'pqina/filepond',
    description: 'The coolest file input ever',
    link: 'github.com/pqina/filepond',
  },
]
---

<Shell
  title="Cool Repositories"
  description="Repositories that may become useful"
>
  <main class="container mt-[8rem] min-h-[60vh]">
    <CoolLinks />

    <h1 class="text-xl font-bold">Cool repositories 📱</h1>

    <p class="text-secondary page-half">
      Repositories that may become handy one day.
    </p>

    <div class="mt-[5rem] grid grid-cols-1 gap-4 gap-y-8 lg:grid-cols-3">
      {
        repositories.map((repo) => (
          <div class="col-span-1">
            <div class="font-bold">{repo.title}</div>
            <p class="text-secondary">{repo.description}</p>
            <Link href={`https://${repo.link}`}>{repo.link}</Link>
          </div>
        ))
      }
    </div>
  </main>
</Shell>
