<div class="rounded-2rem aspect-square bg-white p-1 dark:bg-neutral-800">
  <header
    class="rounded-2rem h-25% flex items-center bg-zinc-800 p-3 text-center text-xl font-bold text-white max-lg:text-4xl dark:bg-white dark:text-neutral-800 justify-center">
    <div>
      17 <span class="text-secondary">/</span> 11 <span class="text-secondary">
        /
      </span> 2024
    </div>
  </header>

  <div class="mx-3">
    <header class="text-secondary grid grid-cols-7 py-2 opacity-50">
      <div class="col-span-1 text-center text-xs">s</div>
      <div class="col-span-1 text-center text-xs">m</div>
      <div class="col-span-1 text-center text-xs">t</div>
      <div class="col-span-1 text-center text-xs">w</div>
      <div class="col-span-1 text-center text-xs">t</div>
      <div class="col-span-1 text-center text-xs">f</div>
      <div class="col-span-1 text-center text-xs">s</div>
    </header>

    <div>
      <div class="grid grid-cols-7">
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="shadow-opacity-60 dark:shadow-opacity-30 aspect-square w-full rounded-full bg-pink-500 shadow-md shadow-pink-300 dark:shadow-pink-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
      </div>
      <div class="grid grid-cols-7">
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
      </div>
      <div class="grid grid-cols-7">
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
      </div>
      <div class="grid grid-cols-7">
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full bg-zinc-100 dark:bg-neutral-700">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full border dark:border-neutral-600">
          </div>
        </div>
        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full border dark:border-neutral-600">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full border dark:border-neutral-600">
          </div>
        </div>

        <div class="col-span-1 p-0.5">
          <div
            class="aspect-square w-full rounded-full border dark:border-neutral-600">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
