<div
  class="rounded-2rem relative aspect-square overflow-hidden bg-white dark:bg-neutral-800">
  <img
    src="/365/porsche.jpg"
    alt="porsche"
    class="h-full w-full object-cover"
  />

  <div
    class="absolute left-0 top-0 flex h-full w-full flex-col justify-between">
    <h3 class="p-5 font-medium text-white/70">Porsche 911 GT2 RS Clubsport</h3>

    <div class="p-1">
      <button
        class="flex w-full items-center gap-2 rounded-full p-5 pe-1 ps-2 font-medium backdrop-blur-sm justify-center">
        <div class="i-lucide-square-plus opacity-60"></div>
        <div class="opacity-60">Add to your garage</div>
      </button>
    </div>
  </div>
</div>
