<div
  class="bg-[#AB68FF] rounded-2rem relative aspect-square overflow-hidden dark:bg-neutral-800 flex flex-col justify-between">
  <header class="flex justify-between ps-4 pe-5 py-3 items-center">
    <img src="/365/chatgpt-sm.png" alt="ChatGPT" class="size-8" />
    <div class="text-white/50 text-sm font-medium">12/11/2024</div>
  </header>

  <div class="relative mx-5 day3-font-serif">
    <div class="absolute -left-2 -top-4 text-8xl text-white/20">&ldquo;</div>
    <div class="absolute -bottom-16 right-0 text-8xl text-white/20">&ldquo;</div>
    <div class="text-lg text-white line-height-tight">
      Embrace today's moments, for they are tomorrow's memories.
    </div>
  </div>

  <footer class="flex justify-between py-3 px-5 px-4 mb-2">
    <div class="text-white/50 font-medium">ChatGPT-4o</div>
  </footer>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
  .day3-font-serif {
    font-family: 'Oranienbaum', serif;
  }
</style>
