---
import Shell from '../../layouts/Shell.astro'
---

<Shell
  title="Creative Challenge"
  description="Create, learn and earn every other week while building cool stuff">
  <main class="container mx-auto mt-[8rem]">
    <div class="text-secondary">Welcome to the</div>
    <h1 class="mt-0 text-4xl font-bold">Creative Challenge</h1>

    <div class="mt-[6rem] grid gap-8 lg:grid-cols-2">
      <div class="col-span-1">
        <p>
          The Creative Challenge is an initiative to unlock and develop the
          creative potential of tertiary students through rewarding challenges —
          in cash and in thrill.
        </p>

        <p class="rounded-lg bg-zinc-200 px-2 py-1 dark:bg-neutral-800">
          The Creative Challenge is a programming competition currently open to
          anyone in KNUST. Not just <em>engineering</em> students.
        </p>

        <p>
          Every other week, we run competitions of varying difficulties and
          formats. On regular challenge weeks, winning teams or individuals get
          <code>800</code>, <code>500</code> or <code>300</code> cedis in cash rewards
          — these are known as <code>Gala weeks</code>. On special challenge
          weeks, rewards are larger and more exciting. These weeks are known as <code>
            League week
          </code>.
        </p>

        <p>Refreshments 🍹 are shared on any event week.</p>

        <p>
          We will however, host regular seminars to teach new tips, tricks and
          technologies to expand our knowledge domain.
        </p>

        <p>
          The <u>Creative Challenge</u> is open to anyone. For any event, anyone
          is welcome to attend and even invite friends. Though, you must register
          to attend any event. Venues may have limited capacity.
        </p>

        <p>
          Join our whatsapp group to stay up to date: <a
            href="https://chat.whatsapp.com/JOLjFw0zDFTDs6JiMhGvca"
            target="_blank"
            class="text-primary">
            Creative Challenge
          </a>
        </p>
      </div>

      <div class="col-span-1">
        <h2 class="font-bold">Upcoming Events</h2>

        <ul class="mt-4 space-y-4">
          <li>
            <div
              class="flex flex-col gap-2 rounded-lg bg-zinc-200 px-2 py-2 md:flex-row lg:gap-4 dark:bg-neutral-800">
              <div class="flex-1">
                <h3 class="mb-0 font-bold">EP01: LED Signs</h3>
                <p class="text-secondary mt-0">
                  15 March &bull; Carisca Labs @KSB, 1pm - 3.30pm
                </p>
              </div>
              <div>
                <a
                  href="/creative-challenge/led-signs"
                  class="rounded-lg bg-zinc-300 px-2 py-1 no-underline dark:bg-neutral-700">
                  Learn more
                </a>
              </div>
            </div>
          </li>

          <li>
            <div
              class="flex flex-col gap-2 rounded-lg bg-zinc-200 px-2 py-2 md:flex-row lg:gap-4 dark:bg-neutral-800">
              <div class="flex-1">
                <h3 class="mb-0 font-bold">Launch and introduction</h3>
                <p class="text-secondary mt-0">
                  1 February 2025 &bull; Carisca Labs @KSB, 1pm - 3.30pm
                </p>
              </div>
              <div>
                <span
                  class="rounded-lg bg-zinc-300 px-2 py-1 no-underline dark:bg-neutral-700">
                  Ended
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Shell>
