---
import Shell from '../../layouts/Shell.astro'
---

<Shell
  title="Creative Challenge"
  description="Create, learn and earn every other week while building cool stuff">
  <main class="container mx-auto mt-[8rem]">
    <h1 class="text-4xl font-bold">Animated LEDs</h1>
    <div class="mt-2">
      <a
        class="w-18rem flex items-center gap-2 rounded-lg bg-amber-500 px-4 py-1 text-white no-underline transition hover:bg-amber-600"
        href="https://chat.whatsapp.com/JOLjFw0zDFTDs6JiMhGvca"
        target="_blank">
        Register to attend or compete <div class="i-lucide-arrow-right"></div>
      </a>
    </div>

    <div class="mt-[6rem] grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="col-span-1">
        <div>
          <video
            src="https://cdn.shopify.com/videos/c/o/v/2c39615abf1f46f184973f70ebf7af31.mp4"
            width="100%"
            autoplay
            muted
            loop>
          </video>
        </div>

        <div class="mt-[3rem]">
          <p>
            LEDs are almost ubiquitous in digital devices. In this season, we’re
            going to implement an animated LED signboard that only accepts texts
            in uppercase.
          </p>

          <p>
            Your hint is to learn about LEDs and how to simulate them in <a
              href="https://p5js.org/"
              target="_blank">
              p5js
            </a>.
          </p>

          <p>
            The full details of the task will be shared on the day of the
            challenge. You&apos;re not allowed to bring an existing solution.
            You&apos;ll implement from scratch on that day.
          </p>

          <p class="text-secondary">
            The challenge will only involve animating texts. Do not worry about
            complex shapes!
          </p>

          <img src="/led-1.jpg" alt="LED Sign" width="240" />

          <p>Each team is required to have two members.</p>

          <p>
            <span class="text-secondary">Rewards:</span> 1st 800, 2nd 500, 3rd 300
          </p>

          <div class="mt-2">
            <a
              class="w-18rem flex items-center gap-2 rounded-lg bg-amber-500 px-4 py-1 text-white no-underline transition hover:bg-amber-600"
              href="https://chat.whatsapp.com/JOLjFw0zDFTDs6JiMhGvca"
              target="_blank">
              Register to attend or compete <div class="i-lucide-arrow-right">
              </div>
            </a>
          </div>

          <p class="rounded-lg bg-zinc-200 p-3 dark:bg-neutral-800">
            If you have any questions, please join our whatsapp group: <a
              href="https://chat.whatsapp.com/JOLjFw0zDFTDs6JiMhGvca"
              target="_blank"
              class="text-primary">
              Creative Challenge
            </a> and ask away.
          </p>
        </div>
      </div>
    </div>
  </main>
</Shell>
