---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Loader from '../components/Loader.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html transition:animate="none">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Loader />
    <Header />

    <slot />

    <Footer />
  </body>
</html>
