---
import NavLink from '../NavLink.astro';
---

<header class="bg-slate-100">
	<div class="container mx-auto flex justify-between py-4">
		<a class="mb-[2rem] block" href="/dotlocal">
			<img src="/dotlocal-logo-small.png" alt="DotLocal" class="h-[48px]">
		</a>

		<nav>
			<!-- <NavLink href="#license">License</NavLink> -->
			<NavLink href="#faq">FAQ</NavLink>
			<NavLink href="https://github.com/blackmann" target="_blank">Feedback</NavLink>
		</nav>
	</div>
</header>
